@reference "tailwindcss";

.container {
  position: relative;
}

.content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 90rem;
  text-align: center;
  @apply md:pt-16 pb-12 px-4 md:pb-[100px];
}

.headline {
  margin-top: 1.5rem;
  background-image: linear-gradient(146deg, #000, #5e6265);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3.125rem;
  font-size: min(4rem, max(8vw, 2.8rem));
  font-weight: 700;
  font-feature-settings: initial;
  line-height: 1.5;
  letter-spacing: -0.12rem;

  :global(.dark) & {
    background-image: linear-gradient(146deg, #fff, #81878b);
  }

  @apply flex max-lg:flex max-lg:flex-col items-center justify-center;
}

.subtitle {
  margin-top: 1.25em;
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-feature-settings: initial;
  font-weight: 400;
  line-height: 1.6;
}

.actions {
  margin-top: 1.6em;
  margin-bottom: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-weight: 500;
}
